server:
  port: 9191

spring:
  main:
    banner-mode: off
  application:
    name: libraryapi

  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
logging:
  level:
    root: WARN                 # Só mostra WARN e ERROR
    org.springframework: WARN  # Spring só vai mostrar WARNING + ERROR
    org.springframework.boot: WARN
    org.apache: WARN
    org.hibernate: WARN
    org.hibernate.orm: WARN
    org.hibernate.engine: WARN

    # Seus logs continuam aparecendo (INFO, WARN, ERROR)
    i.g.g.libraryapi: INFO